<div class="container">
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
       <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
          <li class="active">
             <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
             <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                <li><a href="#addmovies">Add movies</a></li>
             </ul>
          </li>
         
       </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
       <div class="container-fluid xyz">
          <div class="row">
             <div class="col-lg-12">
                <h1> Managing a Movie Rental Store</h1>
                <p>{{ content }}</p>
             </div>
          </div>
       </div>
    </div>
    <div id="addmovies"> <input type="text"/></div>
    <!-- /#page-content-wrapper -->
 </div>
</div>
